table {
  border: 0.1px solid white;
  display: flex;
  justify-content: center;
}
tr {
  text-align: center;
}
th {
  font-size: 7pt;
  color: #7b91a9;
  font-family: Arial;
}
td {
  padding: 7px;
  height: 30px;
  color: #6c718d;
  font-family: Arial;
  font-size: 10pt;
}
tr:hover {
  background-color: #e3e6ea;
}
#First:hover {
  background-color: #e4ebf3;
}
#First {
  height: 15px;
  padding: 2px;
}
.one {
  background-color: #e4ebf3;
}
.two {
  background-color: #f2f6fa;
}
