main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 3fr 6fr;
}
body {
  padding: 30px;
}
header {
  background: lightblue;
  grid-column-start: 1;
  grid-column-end: 3;
}
section {
  background: lightgreen;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
}
header, article, section, .module {
  padding: 1rem;
}
